:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  min-height: 100vh;
  font-size: 16px;
}

.wrapper {
  background-color: sandybrown;
  min-height: 100dvh;
  max-width: 550px;
  margin: 0 auto;
  padding: 1em;
}

/* Start Button Intro */
.intro {
  border: 1px solid green;
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.intro button {
  cursor: pointer;
  max-width: 32.5vw;
  margin: 0 auto;
}
/* Start Button Intro END */


/* Challenge.jsx */

.question-group h3,
.question-group p {
  margin-bottom: 1em;
}

.question-group h3 {
  margin-top: .7em;
}

.choices {
  color: purple;
}

/* Challenge.jsx END*/



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
