
body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  background-color: #F5F7FB;
}

h1,
h2,
h3,
h4 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

.wrapper {
  background-color: #F5F7FB;
  min-height: 100dvh;
  min-width: 375px;
  max-width: 550px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 5px;
  background-image: url(/bkg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Start Button Intro */
.intro {
  display: flex;
  flex-direction: column;
}

.intro h1,
.intro h2 {
  text-align: center;
}

.intro button,
.quiz-page-btn {
  cursor: pointer;
  margin: 1em auto;
  background-color: #4D5B9E;
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
}

.loader {
  display: grid;
  align-self: center;
  place-content: center;
  height: 100dvh;
}

.quiz-options {
  display: grid;
  gap: .4em;
  padding: 1em;
}

.quiz-options label {
  margin-top: .8em;
  font-weight: bold;
}

.quiz-options select {
  padding: .3em;
}

.quiz-page-btn {
  margin: 2em auto;
}

.missing-answers {
  color: rgb(228, 10, 10);
}

/* Challenge.jsx */

.question-group {
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 1em;
  margin-top: .4em;
}

.question-group h3,
.question-group p {
  margin-bottom: 1em;
}

.question-group h3 {
  margin-top: .7em;
}

.answer-list {
  display: flex;
  flex-wrap: wrap;
  gap: .8em;
  justify-content: space-between;
}

fieldset {
  padding: .4em;
  border: none;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: transparent;
    /* Not removed via appearance */
    margin: 0;
}

input:checked + label {
  border: 1px solid transparent;
  background-color: #D6DBF5;
}

.answer-list label {
  border: 1px solid #293264;
  border-radius: 7.71px;
  padding: .3em .6em;
  cursor: pointer;
  font-size: .9em;
  font-weight: 500;
}

.answer-color {
  border: 1px solid #293264;
}

/* Challenge.jsx END*/

/* Finished Quiz */
.answer-list .correct-answer {
  background-color: #94D7A2;
  border: none;
}

.answer-list .incorrect-answer {
  background-color: #F8BCBC;
  border: none;
  opacity: .6;
}

.answer-list .answer-not-chosen {
  opacity: .6;
  border: 1px solid #293264;
}

.results {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  text-align: center;
}


@media (prefers-color-scheme: dark) {
  body {
    color: #f2f2f2;
    background-color: #525252;
  }

  .wrapper {
    background-color: #4a4a4a;
    border: 1px solid gray;
    background-image: url(/bkg-drk.svg);
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  .intro button,
  .quiz-page-btn {
  background-color: #5867b3;
  color: #fff;
  border: none;
}
}
